[submodule "hockfm-angular"]
	path = hockfm-angular
	url = git@github.com:BoonHock/hockfm-angular.git
	branch = master
[submodule "hockfm-nestjs"]
	path = hockfm-nestjs
	url = git@github.com:BoonHock/hockfm-nestjs.git
	branch = master
[submodule "hockfm-php"]
	path = hockfm-php
	url = git@github.com:BoonHock/hockfm-php.git
